.footer{
   width: 932px; 
   height: 249px;
   margin-left: 146px;
   margin-right: 362px;
   margin-top: 125px;
   margin-bottom: 60px;
   display: flex;
   flex-direction: column;

}
.social{
    display: flex;
    flex-direction: row;
    margin-top: 22px;
    align-items: start;
    margin-right: 124px;
} 
.facebook{
    width: 25.71px;
    height: 25.71px;
    margin-right: 24px;
}
.instagram{
    width: 25.71px;
    height: 25.71px;
    margin-right: 24px;
}
.twitter{
    width: 25.71px;
    height: 25.71px;
    margin-right: 24px;
}
.youtube{
    width: 25.71px;
    height: 25.71px;
    margin-right: 24px;
}
.audio{
    width: 132px;
    height: 17px;
    margin-top: 22px;
}
.presse{
    width: 42px;
    height: 17px;
    margin-top: 14px;

}
.confidentialité{
    width: 97px;
    height: 17px;
    margin-top: 14px;

}
.contacter{
    width: 100px;
    height: 17px;
    margin-top: 14px;

}
.servicecode{
    width: 92px;
    height: 30px;
    margin-top: 30px;

}
.code{
    width: 138px;
    height: 13px;
    margin-top: 20px;
}

.totalcolumn{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
    margin-right: 124px;
} 
.autodescription{
    width: 105px;
    height: 17px;
    margin-top: 67px;

}
.investisseur{
   width: 150px;
    height: 17px;

}
.information{
    width: 137px;
    height: 17px;

}
.centreaide{
    width: 87px;
    height: 17px;
    margin-top: 67px;

}
.recrutement{
    width: 87px;
    height: 17px;


}
.cookies{
    width: 148px;
    height: 17px;

}
.cadeaux{
    width: 102px;
    height: 17px;
    margin-top: 67px;

}
.condition{
   width: 152px;
    height: 17px;

}
.mention{
    width: 112px;
    height: 17px;

}