.head {
    background-image: url('../assets/hero bg.svg'); /* Assure-toi que le chemin est correct */
    width: 1440px; /* Largeur spécifique */
    height: 646px; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative; /* Pour s'assurer que le header reste en dessous de la navbar */
    z-index: 1; /* Assure que le header est en dessous de la navbar */
    margin: 0; /* Évite les marges ajoutées par défaut */
}
