.head {
    background-image: url('../assets/hero.svg');
    width: 100vw; /* Toujours adapter à la largeur de l'écran */
    min-width: 1440px; /* Largeur minimale assurée */
    height: 646px; /* Hauteur fixe */
    background-size: cover; /* L'image remplit l'espace, quitte à rogner */
    background-position: center; /* L'image est centrée */
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.netflix{
    margin-left: 60px;
    margin-right: 19.18px;
    margin-top: 80px;
    margin-bottom: 12px;
    width: 101px;
    height: 32px;
}
.original{
    margin-top: 80px;
    width: 122px;
    height: 32px;
    margin-bottom: 12px;
}

.narcos{
    margin-top: 124px;
    margin-left: 60px;
}

.logo-narcos{
    width: 344px;
    height: 94px;
   
}
.description{
    margin-left: 57px;
    margin-top: 24px;
}
.btn-play{
   width: 155px;
   height: 40px;
   margin-top: 32px;
   margin-left: 60px;
   margin-right: 15px;
}
