* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Assure que les paddings et les bordures sont inclus dans la largeur et la hauteur totales */
}

.head {
    background-image: url('../assets/hero bg.svg'); /* Assure-toi que le chemin est correct */
    width: 100%; /* Prend toute la largeur de la page */
    height: 646px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Pour s'assurer que le header reste en dessous de la navbar */
    z-index: 1; /* Assure que le header est en dessous de la navbar */
    padding: 0; /* Évite les marges ajoutées par défaut */
}

.container{
    height: auto;
}